@import 'variables';

html {
  scrollbar-color: #0f1e278a transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0f1e278a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d5961;
}