//colors

$color-main: #0000ff;
$color-secondary: #7EC8E3;
$color-link: #919191;
$header-background-color: transparent;
$header-color: white;
$main-background-color: radial-gradient(150% 100% at 100% 50%, #354b57 0%, #17222a 100%);